.label {
    padding: 0.5rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.815);
    pointer-events: none;
    text-align: center;
    width: 20rem;

  }
  .label__tu {
    font-size: 1rem;
    font-weight: bold;
    color:aquamarine;
  }
  
  .label__name {
    font-size: 0.8rem;
    color: #ffffff;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }