.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    padding: 4rem;
    width: 100vw;
    height: 100vh;
    z-index: 60;
    display: grid;
    place-items: center;
    background-image: linear-gradient(0deg, #000000 0%, #000000 74%);
    opacity: 1;
}

.loading-screen--hidden {
    animation: fadeOut 0.5s ease-in-out forwards 0.3s;
}


@keyframes fadeOut { /* This should match the animation name specified in .loading-screen--hidden */
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.loading-screen__background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; /* Place the video behind other elements */
}

.loading-screen__container {
    position: relative; /* Maintain this for positioning context */
    z-index: 1; /* Ensure the content is above the video */
    text-align: center;
    display: flex; /* Use flexbox for positioning */
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items vertically */
    height: 100%; /* Take full height of the parent */
}

.loading-screen__title {
    margin-top: auto; /* Push the title to the bottom */
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    position: relative; /* Keep it relative inside the flex container */
}

.progress__container {
    width: 100%;
    height: 1rem;
    background-color: rgba(211, 218, 231, 0.774);
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.loading-screen__container > *:first-child {
    margin-top: 50%;
}

.progress__bar {
    width: 0;
    height: 100%;
    background-color: #15caa8;
    transition: width 0.5s ease-in-out;
}

.click-to-continue-text {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 20px; /* Adjust as needed */
    width: 100%;
    text-align: center;
  }
  
  
