#divv {
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom, #ffffff, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 1000ms ease-in-out forwards 200ms,
               glow 2500ms linear infinite 2000ms;
    z-index: 2;
  
    @keyframes reveal {
      80%{
        letter-spacing: 8px;
      }
      100% {
        background-size: 300% 300%;
      }
    }
    @keyframes glow {
      40% {
        text-shadow: 0 0 12px #00daaa;
      }
    }
  }  

  .overlayshadows {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlayshadows:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: 1s;
}

