
audio::-webkit-media-controls-panel {
  
  background: rgba(26, 162, 125, 0.9);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  }

  audio::-webkit-media-controls-panel:hover {
    background: rgba(243, 244, 246, 0.05);
    backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
    
  }
