
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&family=Playpen+Sans:wght@400;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/astrolab');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  font-family: 'Oxanium','Playpen Sans','Noto Sans Thai' ,sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #000000;
  color: rgb(255, 255, 255);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}



